.about-image-container {
    max-width: 650px;
    
    text-align: center;

    padding-bottom: 100px;
}

.about-image-saved-container, .about-image-sample-container{
    display: flex;
    flex-direction: column;
}

.about-image {
    width: 300px;
}

.about-image-sample {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}