body {
    width: 100%;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 1px;
}


.container {
    display:flex;
    flex-direction: column;

    width: 80%;
    margin: 0 auto;

    justify-items: center;
}

.footer {
    width: 100%;
    min-height: 150px;

    background-color: plum;

    margin: 10px 0 0 0;
    padding: 15px 0 0  0;
    text-align: center;
}